<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Adicionar Produto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalForm">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Nome:</label>
        <input 
          type="text"
          id="product-name" 
          class="form-control"
          formControlName="productName"
          (keyup.enter)="addItem()">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Valor:</label>
        <input 
          type="text"
          id="product-value"
          class="form-control"
          formControlName="productValue">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="addItem()">Adicionar</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="open(content)">Adicionar</button>
